html {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ecf2f2;
  height: 93vh;
  margin: 20px;
  display: flex;
  color: #222e2f;
  display: flex;
  flex-direction: column;
}

.container {
  width: 500px;
  margin: auto;
  padding: 16px;
  border: 1px solid #507779;
  border-radius: 50px;
  background-color: #d4e2e3;
  text-align: center;
  color: #222e2f;
  justify-content: center;
  box-shadow: 5px 10px 5px #888;
  align-items: center;
}

button {
  margin: 20px;
  background-color: #303030;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 8px;
}

input {
  height: 24px;
  border: 1px solid #507779;
  border-radius: 10px;
  padding-left: 8px;
}
